@{
	ViewBag.Title = "Superstore Flyer";
}

<h2>Superstore Flyer</h2>
<p>

    
    @MvcHtmlString.Create(ViewBag.Message)
</p>


http://director.flyerservices.com/LCL/PublicationDirector.ashx?OrganizationId=797d6dd1-a19f-4f1c-882d-12d6601dc376&BannerId=323a2f8d-132a-4366-909b-12a7216bc5d0&BannerName=RCSSO&Version=text&banner=RCSSO&Language=en&storenum=2810&pgnum=1&pgcat=1&PC=1&T=1&view=text&publicationrunid=15c88c4c-cdc8-4db5-8f41-f068b1a59be2&PublicationId=7c8762e3-d290-45f8-8e6a-130e08b3e734&PublicationType=26&StoreId=20080030-1140-4064-b190-6fca26e3e6d7&Edition=162